﻿@using System.Web.Optimization
@using System.Web.UI.WebControls

@helper SelectedTabClass(string tabName)
{
    // print out active function  
    if (tabName == ViewBag.SelectedTab)
    {
        @: active 
    }
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog Admin</title>
    @Styles.Render("~/admin/styles")

</head>
<body>
<div class="container">
    <ul class="nav nav-pills">
        <li class="@SelectedTabClass("posts")">
            @Html.ActionLink("Posts", "Index", "Posts", new {area = "admin"}, new {})
        </li>
        <li class="@SelectedTabClass("users")">
            @Html.ActionLink("Users", "Index", "Users", new {area = "admin"}, new {})
        </li>
        <li class="pull-right">
            @Html.RouteLink("Back to Website", "Home")
        </li>
    </ul>

    @RenderBody()
</div>
        


@Scripts.Render("~/admin/scripts")
@RenderSection("Scripts", false)

<form class="hidden" id="anti-forgery-form">
    @Html.AntiForgeryToken()
</form>
</body>
</html>