﻿@model UdemyMVC.ViewModels.AuthLogin
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(x => x.Username)
    </div>

    <div>
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x=>x.Password)
    </div>

    <div>
        <input type="submit" value="Login" />
    </div>
}
