﻿@model UdemyMVC.Areas.Admin.ViewModels.UsersIndex
@{
    ViewBag.Title = "Index";
}

<h1>Admin Users</h1>


<div class="btn-toolbar">

    <a href="@Url.Action("new")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"> Create User</i></a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles.Select(role=>role.Name))</td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("Edit", new {user.Id})" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit">Edit</i></a>
                        <a href="@Url.Action("ResetPassword", new {user.Id})" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-lock">Reset Password</i></a>
                        <a href="@Url.Action("Delete", new { user.Id })" class="btn btn-xs btn-danger" data-post="Are you sure you want to delete @user.Username?"><i class="glyphicon glyphicon-remove">Delete</i></a>
                    </div>
                </td>
            </tr>
        }
        
        </tbody>
    </table>
</div>  