﻿@model UdemyMVC.Areas.Admin.ViewModels.UsersNew

<h1>New User</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(f => f.Username)
        @Html.TextBoxFor(f => f.Username, new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(f=>f.Email)
        @Html.TextBoxFor(f=>f.Email, new {@class="form-control", type="email"})

    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Password)
        @Html.PasswordFor(f => f.Password, new {@class = "form-control"})

    </div>


    @Html.Partial("_RoleEditor", Model.Roles)

    <input type="submit" value="Create User" class="btn btn-primary"/>
    <a href="@Url.Action("Index")">or Cancel</a>

}