﻿@model UdemyMVC.Areas.Admin.ViewModels.UsersResetPassword
<h1>Reset Password - @Model.Username</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    <div class="form-group">
        @Html.LabelFor(f=>f.Password)
        @Html.PasswordFor(f=>f.Password, new {@class="form-control"})

    </div>

    <input type="submit" value="Reset Password" class="btn btn-primary"/>
    <a href="@Url.Action("Index")">or Cancel</a>

}