﻿@using System.Web.Optimization
@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simple Blog</title>
    @Styles.Render("~/styles")
    
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>

    <div class="site-header">
        <header class="container">
            <h1 class="page-header">
                <a href="@Url.RouteUrl("Home")">Awesome Stuff</a>
                <small>a simple blog powered by ASP.net MVC</small>
            </h1>
        </header>



    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-4 sidebar">
                @Html.Action("Sidebar", "Layout")
            </div>
        </div>
        <footer>
            &copy; @DateTime.UtcNow.Year
        </footer>
    </div>
















@Scripts.Render("~/scripts")
@RenderSection("Scripts", false)
</body>
</html>