﻿@using System.Web.Optimization
@model UdemyMVC.Areas.Admin.ViewModels.PostsForm
<h1>@(Model.IsNew ? "Create Post" : "Update Post")</h1>

@using (Html.BeginForm("Form", "Posts"))
{
    if (!Model.IsNew)
    {
        @Html.HiddenFor(f => f.PostId)
    }
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-8">
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(t => t.Title)
                
                @Html.TextBoxFor(f => f.Title, new {@class = "form-control"})
            </div>



            <div class="form-group">
                @Html.LabelFor(t => t.Slug)
                <!--  C# auto converts data_slug to data-slug  -->
                @Html.TextBoxFor(f => f.Slug, new {@class = "form-control", data_slug = "#Title" })
            </div>




            <div class="form-group">
                @Html.LabelFor(t => t.Content)
                @Html.TextAreaFor(f => f.Content, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Post Actions
                </div>
                <div class="panel-body">
                    <input type="submit" value="@(Model.IsNew ? "Publish Post" : "Update Post")" class="btn btn-success btn-sm"/>
                    <a href="@Url.Action("Index")">or cancel</a>
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-heading">
                    Tags
                </div>
                <div class="panel-body post-tag-editor">
                    <label for="new-tag-name">Name Tag: </label>
                    <div class="input-group">
                        <input id="new-tag-name" type="text" class="new-tag-name form-control"/>
                        <span class="input-group-btn">
                            <button disabled class="btn btn-primary add-tag-button">Add</button>
                        </span>
                    </div>



                    <ul class="tag-select">
                        <li class="template">
                            <a href="#" class="name"></a>
                            <input type="hidden" class="name-input"/>
                            <input type="hidden" class="selected-input"/>

                        </li>


                        @for (var i = 0; i < Model.Tags.Count; i++)
                        {
                            var tag = Model.Tags[i];

                            <li data-tag-id="@tag.Id" class="@(tag.IsChecked ? "selected" : "")">
                                <a href="#">@tag.Name</a>

                                <input type="hidden" name="Tags[@(i)].Id" value="@tag.Id"/>
                                <input type="hidden" name="Tags[@(i)].Name" value="@tag.Name"/>
                                <input type="hidden" name="Tags[@(i)].IsChecked" value="@tag.IsChecked.ToString()" class="selected-input"/>
                            </li>
                        }
                    </ul>





                </div>
            </div>
        </div>
    </div>




}

@section Scripts
{
    @Scripts.Render("~/admin/post/scripts")


    <!-- ckeditor must be loaded manually, because it loads more scripts and is very particular, so it can't be bundled -->
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <!-- Content is the ID of the TextArea -->
    <script>
        CKEDITOR.replace("Content");
    </script>
}
